@charset "utf-8";
.margin{width:1120px;margin:0 auto; padding:0 40px; box-sizing:border-box; }

.banner{
    display: flex;
    justify-content: center; 
   max-height: 341px;
   height:341px;
    img{
        justify-content: center; 
    width:100%;
    }
}
.title{
    .cont{display: flex;
    margin-top:70px;
    align-items: center;
        .left{
            border-bottom: 1px solid #666;
            width:33%;
        }
        .center{
            text-align: center;
            width:33%;
            span{
                font:700 40px/60px "";
                
                color:#f00;
            }
            i{
                font:700 12px "";
                color:#999;
                letter-spacing: 3px;
            }
        }
        .right{
            border-bottom: 1px solid #666;
            width:33%;
        }
    }
}
.company{margin:20px 0;
        display: flex;
        align-items: center;
        width:100%;
        .left{
            width: 180%;
            margin:15px;
            }
            img{
            width: 100%;
        }
        .right{
            margin-top:20px;
            p{
                font:14px/25px "";color:#000;
            }
        }
    }
.main_content{
    text-align: center;
    ul{display: flex;
    justify-content: space-between;
    margin-top:40px;
    margin-bottom:40px;
    flex-wrap: wrap;
        li{flex:1;
        margin-left:15px;
        &:nth-child(1){
            margin-left:0;
        }
            dl{
                dt{
                    img{border-radius: 20% 50%;
                        vertical-align: middle;
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        transition:1s; 
                        &:hover{
                            transform:skew(-15deg);
                        }
                    }
                }
                dd{font:16px "";
                    color:#f00;
                    padding:10px 0;
                }
                span{font:14px/20px "";
               
                color:#666;}
            }
        }
    }
}
//响应式
@media screen and (max-width:1200px){
.margin{ width:970px;}
}
@media screen and (max-width:991px){
    .title{
        .cont{margin:70px auto 0;
            display: block;
            .left{
                border-bottom: 1px solid #666;
                width:100%;
            }
            .center{
                text-align: center;
                width:100%;
                span{
                    font:700 40px/60px "";
                    
                    color:#f00;
                }
                i{
                    font:700 12px "";
                    color:#999;
                    letter-spacing: 3px;
                }
            }
            .right{
                border-bottom: 1px solid #666;
                width:100%;
            }
        
        }
    }
    .company{
        display: block;
        .left{
            width:100%;
            margin:auto;
            }
        .right{
            padding:0 25px; 
            }
        
        }
    
}
@media screen and (max-width:767px){

.main_content ul li{
    justify-content: center;
    dl{
        span{
            width:300px;
            padding:50x 0;
            }
        }
    }
}
@media screen and (max-width:750px){
.margin{width:auto;}
}



