@charset "utf-8";
.margin{width:1120px;margin:0 auto; padding:0 40px; box-sizing:border-box; }

.banner{
    display: flex;
    justify-content: center; 
   max-height: 341px;
   height:341px;
    img{
        justify-content: center; 
    width:100%;
    }
}
.title{
    .cont{display: flex;
    margin-top:70px;
    align-items: center;
        .left{
            border-bottom: 1px solid #666;
            width:33%;
        }
        .center{
            text-align: center;
            width:33%;
            span{
                font:700 40px/60px "";
                
                color:#f00;
            }
            i{
                font:700 12px "";
                color:#999;
                letter-spacing: 3px;
            }
        }
        .right{
            border-bottom: 1px solid #666;
            width:33%;
        }
    }
    
}
.company{margin:20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:50%;
        .left{
            width:70%;
             
            #dituContent{
             width:100%;
             height:300px;
            }
            
        }
        .right{
            margin-top:20px;
            h3{
                font:700 14px/25px "";color:#000;
            }
            p{
                font:14px/25px "";color:#000;
            }
        }
    }

//响应式
@media screen and (max-width:1200px){
.margin{ width:970px;}
}
@media screen and (max-width:991px){
    .title{
        .cont{margin:70px auto 0;
            display: block;
            .left{
                border-bottom: 1px solid #666;
                width:100%;
            }
            .center{
                text-align: center;
                width:100%;
                span{
                    font:700 40px/60px "";
                    
                    color:#f00;
                }
                i{
                    font:700 12px "";
                    color:#999;
                    letter-spacing: 3px;
                }
            }
            .right{
                border-bottom: 1px solid #666;
                width:100%;
            }
        
        }
    }
    .company{
        display: block;
        .left{
            width:60%;
             margin:auto;
            #dituContent{
             width:100%;
             height:280px;
            }
            
        }
        .right{
            padding:0 25px; 
            }
        
        }
    
}
@media screen and (max-width:767px){
.company{
    .left{
            width:50%;
             margin:auto;
            #dituContent{
             width:100%;
             height:280px;
            }
            
        }
}

.main_content ul li{
    justify-content: center;
    dl{
        span{
            width:300px;
            padding:50x 0;
            }
        }
    }
}
@media screen and (max-width:750px){
.margin{width:auto;}
}



